{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="jumbotron">
		<div class="navigation_header">
			<a href="admin">Admin</a> &gt; <a href="graph">Semantic Graph</a> &gt; <a href="node?id={{ node_id }}">{{ node_name }}</a> &gt; Add Relationship
		</div>
		<form action="node?id={{ node_id }}" method="post"><div>
			<div class="form-group row">
				<label for="node_list_select" class="col-xs-2 col-form-label">Node</label>
				<div class="col-xs-10">{{ node_select_list|safe }}</div>
			</div>
			<div class="form-group row">
				<label for="relationship_1_to_2" class="col-xs-2 col-form-label">Relationship to node</label>
				<div class="col-xs-10">
					<input class="form-control" type="text" name="relationship_1_to_2" id="relationship_1_to_2" placeholder="e.g., parent" autocomplete="off" />
				</div>
			</div>
			<div class="form-group row">
				<label for="relationship_2_to_1" class="col-xs-2 col-form-label">Node's relationship</label>
				<div class="col-xs-10">
					<input class="form-control" type="text" name="relationship_2_to_1" id="relationship_2_to_1" placeholder="e.g., child" autocomplete="off" />
				</div>
			</div>
			<input class="btn btn-primary" type="submit" value="Add relationship" />
		</div></form>
	</div>
  </div>
{% endblock %}
