{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="jumbotron">
		<div class="navigation_header">
			<a href="admin">Admin</a> &gt; Semantic Graph
		</div>
		<form action="" method="post" class="form-inline">
			<div style="margin-bottom: 0.8em;">
				<input type="text" name="title" autocomplete="off" class="form-control" placeholder="Node title" /> <input type="submit" value="Add Node" class="btn btn-primary" />
			</div>
		</form>
		
		{% if not nodes %}
			No nodes found
		{% else %}
			{% for node in nodes %}
				<a href="node?id={{ node.id }}">{{ node.title }}</a> - <a href="graph?del={{ node.id }}" onclick="return confirm('Are you sure?');">Delete</a><br />
			{% endfor %}
		{% endif %}
	</div>
  </div>
{% endblock %}
